<div class="container">
             <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h1><strong> Our Team </strong></h1>
                <div class="content-title-underline"></div>
            </div>

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
			<div class="col-md-8 col-lg-8 col-xs-8">
				<div class="team-member">
					<table>
						<tr><td>
							<img src="images/c/1.jpg" width="200px" height="200px"
								class="img-responsive" alt="team member">
						</td>
							<td>
								<h4 class="team-member-name">Name: Manda Ranjith Kumar</h4>
								<h4 class="team-member-designation">Designation: President</h4>
								<h4 class="team-member-designation">JNTUH - M.Tech (Ph.D)</h4>

								<ul id="menu">
									<li><a href="#" class="social-icon icon-gray"><i
											class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="social-icon icon-gray"><i
											class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="social-icon icon-gray"><i
											class="fa fa-google-plus"></i></a></li>
								</ul>
							</td>
						</tr>
					</table>
				</div>

				<div class="team-member-info text-center">
					<p>Manda Ranjith Kumar was born in the Bhadradri Kothagudem
						district of Telangana (erstwhile Andhra Pradesh), India, on 10 th
						May 1990.His father, M.Pullaiah, is a Farmer in Agriculture back
						ground. He belongs to Shedule Caste community.</p>
					<p>Manda Ranjith Kumar studied at Z.P.S.S School in Julurpad &
						Nalanda Junior College, Kothagudem from 5th standard to
						Intermediate. He did his graduation in Palvoncha, and Pursued
						Ph.D. in Energy System Literature at the JNT University HYDERABAD.</p>

					</p>
				</div>
			</div>

			<div class="col-md-8 col-lg-8 col-xs-8">
                            <div class="team-member">
                            <table>
						<tr><td>
                                <img src="images/c/2.jpg" width="200px" height="200px" class="img-responsive" alt="team member">
                                
                                   </td>
							<td>
                                    <h4 class="team-member-name">Name: Dharamsoth  Srinivas  Naik</h4>
                                    <h4 class="team-member-designation">Designation: Vice President</h4>
                                    <h4 class="team-member-designation">JNTUH - M.Tech (Ph.D)</h4>
                                    
                                    <ul id="menu">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    </td>
						</tr>
					</table>
                                </div>
                            <div class="team-member-info text-center">
					<p>Dharamsoth Srinivas Naik was born in Ramulu thanda village
						which is now the first ward of Guduru, in the Mahubabad district
						of Telangana. His father, Dharamsoth Kobal is Guduru Agriculture
						back ground.</p>
					<p>Dharamsoth Srinivas Naik married Sunitha, The couple have
						doughter Anivitha sri.He belongs to Shedule Tribe community.</p>
					<p>Dharamsoth Srinivas Naik studied at Z.P.S.H School & Junior
						College, Narsampet,Warangal from 5th standard to Intermediate. He
						did his graduation in Warangal, and Pursued Ph.D. in Energy System
						Literature at the JNT University HYDERABAD.</p>

				</div>
			</div>
							<div class="col-md-8 col-lg-8 col-xs-8">
                            <div class="team-member">
                            <table>
						<tr><td>
                                <img src="images/c/3.jpg" width="200px" height="200px" class="img-responsive" alt="team member">
                                
                                   </td>
							<td>
                                    <h4 class="team-member-name">Name: Malothu Naresh Naik</h4>
                                    <h4 class="team-member-designation">Designation: General Secretary</h4>
                                    <h4 class="team-member-designation">JNTUH - M.Tech</h4>
                                    <ul id="menu">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    </td>
						</tr>
					</table>
                                </div>
                           <div class="team-member-info text-center">
					<p>Malothu Naresh Naik was born in Doulathnagar, a village in
						the Warangal district of Telangana,India,. on 10 th July 1994.His
						father, M.Jagan, is a Farmer in Agriculture back ground. He
						belongs to Shedule Tribe community He attended A.P.T.W.R.School in
						Warangal and, then was awarded a B.Tech from the T.N.R.I.T College
						in Bibi Nagar nalgonda. In 2015, he is studying M.Tech in JNTU,
						Hyderabad</p>
				</div>
			</div>
                            </div>

                           

                    </div>
                    </div>
                   

              