<div class="container">
             <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h1><strong>Contact Us</strong></h1>
                <div class="content-title-underline"></div>
            </div>

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
			<div class="col-md-8 col-lg-8 col-xs-8">
<strong>Any Queries..</strong>
<pre>
JNTU Campus,
Hyderabad.
Phone: Ranjith (Founder) 
Email: ttswa1301@gmail.com
</pre>

</div>
</div>
</div>
</div>

