<div class="container">
             <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h1><strong>Gallery</strong></h1>
                <div class="content-title-underline"></div>
            </div>

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
			<div class="col-md-8">
			<div><ul class="nav navbar-nav">
		 <li><a class="smooth-scroll" href="#/gallery">Work</a></li>
         <li><a class="smooth-scroll" href="#/gmedia">Media</a></li>
                  </ul>
              <div id="top"></div>
              </div>    
              
		
			<!-- Media -->
   <section id="media">

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3>Media </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container-fluid">

                <div class="row no-gutters wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="col-md-3 col-sm-4">
                        <div class="img-wrapper">
                            <a href="images/media/1.jpg" title="Work Description Goes Here">
                                <img src="images/media/1.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="img-wrapper">
                            <a href="/2.jpg" title="Work Description Goes Here">
                                <img src="images/media/2.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="img-wrapper">
                            <a href="images/media/3.jpg" title="Work Description Goes Here">
                                <img src="images/media/3.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="img-wrapper">
                            <a href="images/media/4.jpg" title="Work Description Goes Here">
                                <img src="images/media/4.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
                    </div>
                  
                    </div>

                </div>

            </div>
        </div>
        <!-- End Content Box -->
    </section>
</div>
</div>
</div>
