<div class="container">
             <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <!-- <h1><strong>Home</strong></h1> -->
                <div class="content-title-underline"></div>
            </div>

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
			
<div class="col-sm-8  ">
  <div class="mySlides slider"  id="slide1"></div>
  <div class="mySlides slider" id="slide2"></div>
   <div class="mySlides slider" id="slide3"></div>
</div>
<div class="col-sm-8 col-lg-8 col-xs-8">
	<h3>Welcome	to Telangana Technical students welfare association</h3>
	</div>
	<div class="col-sm-8 col-lg-8 col-xs-8">

					<p>&nbsp;&nbsp;The Telangana Technical Students Welfare Association (<strong>TTSWA</strong>)
						is a state student's organization created to develop skills in
						engineering education. TTSWA aims to develop leadership, academic
						and business management skills in the work place among students and
						leaders within the community. Over 50,000 engineering college
						students across 150 engineering colleges and 31 districts are in
						TTSWA</p>
<div class="cleaner h20"></div>
					<p>&nbsp;&nbsp;<strong>Engineering education </strong> is the activity of teaching knowledge
						and principles to the professional practice of engineering. It
						includes the initial education (Bachelor and or Masters Degree)
						for becoming an engineer, and any advanced education and
						specializations that follow. Engineering education is typically
						accompanied by additional post graduate examinations and
						supervised training as the requirements for a professional
						engineering license. The length of education and training to
						qualify as a basic professional engineer is typical 8 - 12 years
						with 15 - 20 years for an engineer that takes responsibility for
						major projects.</p>
<div class="cleaner h20"></div>
					<p>&nbsp;&nbsp;Telangana State is one of the largest producers of engineers
						in the world. Yet, more than 70% of engineers are unemployed due
						to severe competition, and by some estimates only 7-8% of
						engineering graduates are actually employable.</p>
<div class="cleaner h20"></div>
					<p>&nbsp;&nbsp;In Telangana, there are several engineering colleges
						imparting undergraduate and graduate courses in engineering,
						applied engineering and Technology</p>
				
				</div>

<div class="col-sm-8 col-xs-8" border="1">
 <table ><tr><td class="col-sm-2 col-xs-2"><span>
	<a href="www.osmania.ac.in/" target="_blank"><img src="./images/un/ou.jpg"  class="img-responsive" width=200px height= 200px alt="JNTUH CEJ"></a>
		<h3> <a href="www.osmania.ac.in/" target="_blank">Osmania University, Hyderabad</a> </h3>
	</span></td><td class="col-sm-2 col-xs-2">
	<span>
		<a href="http://jntuhcej.ac.in/" target="_blank"><img src="./images/un/hcu.JPG"  class="img-responsive" width=200px height= 200px alt="JNTUH CEJ" title="JNTUH CEJ"></a>
		<h3><a href="http://jntuhcej.ac.in/" target="_blank">University of Hyderabad, Hyderabad</a></h3>
	</span></td>
	<td class="col-sm-2 col-xs-2"><span>
	<a href="http://jntuhcej.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/ceh1.jpg"  class="img-responsive" width=200px height= 200px alt="JNTUH CEJ"></a>
		<h3> <a href="http://jntuhcej.ac.in/" target="_blank">JNTUH College of Engg, Hyderabad</a> </h3>
	</span></td>
	<td class="col-sm-2 col-xs-2">
	<span>
		<a href="http://jntuhces.ac.in/"  target="_blank"><img src="./images/un/ku.jpg"  class="img-responsive"width=200px height= 200px alt="JNTUH CEJ" title="JNTUH CEJ" ></a>
		<h3><a href="http://jntuhces.ac.in/" target="_blank">Kakatiya University, Warangal</a></h3>
	</span></td>
	</tr>
	<tr>
	<td class="col-sm-2 col-xs-2">
	<span>
		<a href="http://jntuhces.ac.in/"  target="_blank"><img src="./images/un/nitw.JPG" class="img-responsive" width=80% height= 200px alt="JNTUH CEJ" title="JNTUH CEJ" ></a>
		<h3><a href="http://jntuhces.ac.in/" target="_blank">National Institute of Technology, Warangal</a></h3>
	</span></td>
	<td class="col-sm-2.5 col-xs-2.5">
	<span>
		<a href="http://jntuhces.ac.in/"  target="_blank"><img src="./images/un/iith.JPG" class="img-responsive" width=80% height= 200px alt="JNTUH CEJ" title="JNTUH CEJ" ></a>
		<h3><a href="http://jntuhces.ac.in/" target="_blank">Indian Institute of Technology, Hyderabad </a></h3>
	</span></td>
	<td class="col-sm-2.5 col-xs-2.5">
	<span>
		<a href="http://jntuhces.ac.in/"  target="_blank"><img src="./images/un/iiit.png" class="img-responsive" width=80% height= 200px alt="JNTUH CEJ" title="JNTUH CEJ" ></a>
		<h3><a href="http://jntuhces.ac.in/" target="_blank">International Institute of Information Technology, Hyderabad</a></h3>
	</span></td>
	</tr>
	</table>

</div>

</div>

</div>
</div>