<div class="container">
             <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h1><strong>Our Vision</strong></h1>
                <div class="content-title-underline"></div>
            </div>

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
			<div class="col-md-8 col-lg-8 col-xs-8">
	<h1>Our Vision</h1>
	<p>To be an institution of excellence in higher education that
		continually responds to the changing social realities through the
		development and application of knowledge, towards creating a
		people-centred and ecologically sustainable society that promotes and
		protects the dignity, equality, social justice and human rights for
		all, with special emphasis on marginalised and vulnerable groups</p>
<div class="cleaner h20"></div>
<h1>Our Mission</h1>

	In pursuance of its vision and guiding principles, teaching programmes
	to facilitate the development of competent and committed professionals
	for practice, research and teaching; undertakes research; develops and
	disseminates knowledge; and reaches out to the larger community through
	extension, at the local, national, regional and national levels
</div>
</div>
</div>
</div>